<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.ide.debug.launching.localMuleServer">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RestMule/src/main/app/mule-config.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RestMule"/>
<stringAttribute key="org.mule.MuleConfigSet" value="src/main/app/mule-config.xml"/>
</launchConfiguration>
